/* 
    COMP 333: Software Engineering
    Max Waslick
*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}

p {
    color:green;
}

div {
    background-color: yellowgreen;
}

.navbar li {
    list-style: none;
    width: 400px;
    margin: 0 auto;
    padding: 20;
    background-color: black;
    text-align: center;
    display: inline-block;
    line-height: 40px;
}

.navbar a {
    color:#crimson;
    text-decoration: none;
}

iframe {
    width:75%;
    height:75%;
    border: dotted;
}