@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}

p {
    color:blue;
}

.navbar ul {
    list-style: none;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
}

.navbar a {
    color:#crimson;
    text-decoration: none;
}